In [1]:
import pandas as pd
import joblib

In [2]:
df = pd.read_pickle('../data/processed/2_test.pkl')

In [4]:
df

,id,cap-diameter,stem-height,stem-width,cap-shape_b,cap-shape_c,cap-shape_f,cap-shape_o,cap-shape_p,cap-shape_s,...,habitat_d,habitat_g,habitat_h,habitat_l,habitat_m,habitat_p,habitat_u,season_a,season_s,season_u
0,3116945,8.64,11.13,17.12,False,False,False,False,False,False,...,True,False,False,False,False,False,False,True,False,False
1,3116946,6.90,1.27,10.75,False,False,False,True,False,False,...,True,False,False,False,False,False,False,True,False,False
2,3116947,2.00,6.18,3.14,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
3,3116948,3.47,4.98,8.51,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
4,3116949,6.17,6.73,13.70,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2077959,5194904,0.88,2.67,1.35,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
2077960,5194905,3.12,2.69,7.38,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,False,False
2077961,5194906,5.73,6.16,9.74,False,False,False,False,False,False,...,True,False,False,False,False,False,False,True,False,False
2077962,5194907,5.03,6.00,3.46,True,False,False,False,False,False,...,True,False,False,False,False,False,False,True,False,False
2077963,5194908,15.51,2.69,17.71,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,False,False

In [5]:
df_pred = df.drop(columns=['id'])

df_pred

,cap-diameter,stem-height,stem-width,cap-shape_b,cap-shape_c,cap-shape_f,cap-shape_o,cap-shape_p,cap-shape_s,cap-surface_d,...,habitat_d,habitat_g,habitat_h,habitat_l,habitat_m,habitat_p,habitat_u,season_a,season_s,season_u
0,8.64,11.13,17.12,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,True,False,False
1,6.90,1.27,10.75,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,True,False,False
2,2.00,6.18,3.14,True,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
3,3.47,4.98,8.51,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
4,6.17,6.73,13.70,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2077959,0.88,2.67,1.35,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
2077960,3.12,2.69,7.38,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,False,False
2077961,5.73,6.16,9.74,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,True,False,False
2077962,5.03,6.00,3.46,True,False,False,False,False,False,False,...,True,False,False,False,False,False,False,True,False,False
2077963,15.51,2.69,17.71,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False

In [6]:
rf_classifier = joblib.load('../models/rf_classifier_model.pkl')

In [7]:
labels = rf_classifier.predict(df_pred)

labels

array([False,  True,  True, ...,  True, False, False])

In [9]:
df['class'] = labels

In [11]:
df['class'].value_counts()

class
True     1132414
False     943085
Name: count, dtype: int64

In [12]:
df_test = pd.read_pickle('../data/processed/1_test.pkl')

In [13]:
df_test

,id,class,cap-diameter,cap-shape,cap-surface,cap-color,does-bruise-or-bleed,gill-attachment,gill-color,stem-height,stem-width,stem-color,has-ring,ring-type,habitat,season
0,3116945,NaN,8.64,x,t,n,t,a,w,11.13,17.12,w,t,g,d,a
1,3116946,NaN,6.90,o,t,o,f,a,y,1.27,10.75,n,f,f,d,a
2,3116947,NaN,2.00,b,g,n,f,a,n,6.18,3.14,n,f,f,d,s
3,3116948,NaN,3.47,x,t,n,f,s,n,4.98,8.51,w,t,z,d,u
4,3116949,NaN,6.17,x,h,y,f,p,y,6.73,13.70,y,t,f,d,u
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2077959,5194904,NaN,0.88,x,g,w,f,a,w,2.67,1.35,e,f,f,d,u
2077960,5194905,NaN,3.12,x,s,w,f,d,w,2.69,7.38,w,f,f,g,a
2077961,5194906,NaN,5.73,x,e,e,f,a,w,6.16,9.74,y,t,z,d,a
2077962,5194907,NaN,5.03,b,g,n,f,a,g,6.00,3.46,g,f,f,d,a
2077963,5194908,NaN,15.51,f,t,w,f,d,y,2.69,17.71,w,f,f,d,w

In [14]:
df

,id,cap-diameter,stem-height,stem-width,cap-shape_b,cap-shape_c,cap-shape_f,cap-shape_o,cap-shape_p,cap-shape_s,...,habitat_g,habitat_h,habitat_l,habitat_m,habitat_p,habitat_u,season_a,season_s,season_u,class
0,3116945,8.64,11.13,17.12,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,3116946,6.90,1.27,10.75,False,False,False,True,False,False,...,False,False,False,False,False,False,True,False,False,True
2,3116947,2.00,6.18,3.14,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
3,3116948,3.47,4.98,8.51,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,3116949,6.17,6.73,13.70,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2077959,5194904,0.88,2.67,1.35,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
2077960,5194905,3.12,2.69,7.38,False,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,True
2077961,5194906,5.73,6.16,9.74,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
2077962,5194907,5.03,6.00,3.46,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2077963,5194908,15.51,2.69,17.71,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
2077964 - 2075499

2465

In [18]:
df_final = pd.merge(df_test[['id']], df[['id', 'class']], on='id', how='left')

df_final['class'].value_counts(), df_final['class'].isnull().sum()

(class
 True     1132414
 False     943085
 Name: count, dtype: int64,
 np.int64(2465))

In [21]:
1132414 + 2465

1134879

In [20]:
pd.set_option('future.no_silent_downcasting', True)

df_final['class'] = df_final['class'].fillna(True)

df_final['class'].value_counts()

class
True     1134879
False     943085
Name: count, dtype: int64

In [23]:
df_final

              id  class
0        3116945  False
1        3116946   True
2        3116947   True
3        3116948   True
4        3116949  False
...          ...    ...
2077959  5194904   True
2077960  5194905   True
2077961  5194906   True
2077962  5194907  False
2077963  5194908  False

[2077964 rows x 2 columns]

In [24]:
df_final['class'] = df_final['class'].map({True: 'p', False: 'e'})

df_final

              id class
0        3116945     e
1        3116946     p
2        3116947     p
3        3116948     p
4        3116949     e
...          ...   ...
2077959  5194904     p
2077960  5194905     p
2077961  5194906     p
2077962  5194907     e
2077963  5194908     e

[2077964 rows x 2 columns]

In [25]:
df_final.to_csv('../data/processed/submission_1.csv', index=False)